'.text.xml':
  'CDATA':
    'prefix': 'cdata'
    'body': '<![CDATA[$0]]>'
  'XML Processing Instruction':
    'prefix': 'xml'
    'body': '<?xml version="1.0" encoding="UTF-8"?>'
  'Long Attribute Tag':
    'prefix': '<a'
    'body': '<${1:name} ${2:attr}="${3:value}">$4\n</${1:name}>'
  'Long Tag':
    'prefix': '<'
    'body': '<${1:name}>$2</${1:name}>'
  'Short Tag':
    'prefix': '>'
    'body': '<${1:name} />'
  'Label':
    'prefix': 'label'
    'body': """
      <Label
      id="$1"
      height="$2"
      width="$3"
      text = "$4"
      translation="[${5:0},${6:0}]" />
    """
  'Poster':
    'prefix': 'poster'
    'body': """
      <Poster
        id="$1"
        uri="$2"
        width="$3"
        height="$4"
        translation="[${5:0},${6:0}]" />
    """
  'Rectangle':
    'prefix': 'rectangle'
    'body': """
      <Rectangle
        id="$1"
        color="${2:#FFFFFF}"
        width="$3"
        height="$4"
        translation="[${5:0},${6:0}]" />
    """
  'Video':
    'prefix': 'video'
    'body': """
      <Video
        id="$1"
        width="$2"
        height="$3"
        translation="[${4:0},${5:0}]" />
    """
  'Animation':
    'prefix': 'animation'
    'body': """
      <Animation
        id="$1"
        duration="$2"
        repeat="${3:false}"
        easeFunction="${4:inOutCubic}" >
        ${5:fieldInterpolatorNode}
      </Animation>
    """
  'Vector2DFieldInterpolator':
    'prefix': 'vector2DFieldInterpolator'
    'body': """
      <Vector2DFieldInterpolator
        id = "$1"
        key="[${2:0}, ${3:100}]"
        keyValue="[ [${4:0},${5:100}] ]"
        fieldToInterp="$6" />
    """
  'FloatFieldInterpolator':
    'prefix': 'floatFieldInterpolator'
    'body': """
      <FloatFieldInterpolator
        id = "$1"
        key="[${2:0}, ${3:100}]"
        keyValue="[ [${4:0},${5:100}] ]"
        fieldToInterp="$6" />
    """
  'ColorFieldInterpolator':
    'prefix': 'colorFieldInterpolator'
    'body': """
      <ColorFieldInterpolator
        id = "$1"
        key="[${2:0}, ${3:100}]"
        keyValue="[ [${4:0},${5:100}] ]"
        fieldToInterp="$6" />
    """
  'Script':
    'prefix': 'script'
    'body': '<script type="text/brightscript" uri="$1" />'
  'Interface':
    'prefix': 'interface'
    'body': """
      <Interface>
        ${1:field}
      </Interface>
    """
  'Field':
    'prefix': 'field'
    'body': '<field id="$1" type="$2" />$3'
  'Component':
    'prefix': 'component'
    'body': """
      <?xml version="1.0" encoding="utf-8" ?>
        <Component name="$1" extends="${2:group}" >
          $2
      </Component>
    """
  'Timer':
    'prefix': 'timer'
    'body': """
      <Timer
        id="$1"
        repeat="${1:true}"
        duration="$3" />
    """
